body {
	background-image: url("../images/background-image.jpg");
	text-align: center;
	font-family: 'Open Sans', sans-serif;
}

h1{
	color: #6e5425;
	font-size: 50px;
	font-family: 'Petit Formal Script', cursive;

}

h2{
	color: #9dc1de;

}

#question-box {
	font-size: 25px;
	padding: 5px;
	color: #6e5425;
}

#container {
	width: 70%;
	height: 80%;
	margin-top: 100px;
	background-color: white;
	margin-left: 160px;
	padding: 20px;
}

#start-button, #play-again {
	background-color: #f05f43;
	width: 260px;
	color: white;
	padding: 20px;
	font-size: 30px;
	font-family: 'Petit Formal Script', cursive;
	display: inline-block;
}

.list-group.choices{
	font-size: 17px;
}